@model ncc2019.Orders

@{
    ViewBag.Title = "礼物";
}
<div class="blank5"></div>
<div class="Area">
    <div class="box">

        @using (Html.BeginForm("DoCreate", "Gift"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table border="0" cellspacing="1" cellpadding="5" width="100%" bgcolor="#dddddd">
                <tbody>
                    <tr>
                        <td bgcolor="#ffffff" align="right">商品图片：</td>
                        <td bgcolor="#ffffff">
                            <img src="@Model.Goods.ImgUrl" alt="@Model.Goods.Name" width="200px" height="200px" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="right">说点啥：</td>
                        <td bgcolor="#ffffff">
                            <input name="recname" type="text" value="@Model.SayEtc" multiple="multiple" />
                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#ffffff" align="right">收货人姓名：</td>
                        <td bgcolor="#ffffff"><input name="recname" type="text" value="@Model.ToName" /></td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="right">收货人电话：</td>
                        <td bgcolor="#ffffff">
                            <input name="recphone" type="text" value="@Model.ToPhone" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="right">收货地址：</td>
                        <td bgcolor="#ffffff"><input name="recaddress" type="text" value="@Model.RecAddress" /></td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="right">备注：</td>
                        <td bgcolor="#ffffff">
                            <input name="memo" type="text" value="@Model.Memo" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" colspan="2" align="center">
                            <input class="bnt_blue_1" name="gen_code" value="确定" type="submit">
                        </td>
                    </tr>

                </tbody>
            </table>
            <input type="hidden" name="orderid" value="@ncc2019.Common.Tool.DESEncrypt.Encrypt(Model.OrderID.ToString())" />
        }
    </div>
</div>
