@model IEnumerable<DBModel.LoginLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoginTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemInfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoginTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemInfo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoginLogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoginLogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoginLogID })
        </td>
    </tr>
}

</table>
